*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;
    color: #525252;
}
nav{
    background: gray;
    width: 100%;
    max-height: 10vh;
    padding: 5px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.logo{
    width: 70px ;
    height: 50px;
    border-radius:50% ;
    background-color: #fff;
}

.user-pick{
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    
}

nav ul{
    width: 100%;
    text-align: right;
}
    
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
    
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li span{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
    


.tools-list, .user-info {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%;
    right: 10%;
    width: 200px;
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
    right: 1%;
    width: 220px;
}

/* Show when toggled */
.open {
    display: block;
}

.tools-list .tools-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.tools-link p{
    width: 100%;
    
}
.tools-link i{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.tools-link span{
    font-size: 15px;
    transition: transform 0.5s;
}
.tools-link:hover span{
    transform: translateX(5px);
}
.tools-link:hover i{
    color: #000;
    background: #525252;
    transition: 0.5s;
}
.tools-link:hover p{
    font-weight: 600;
    color: #000;
    transition: 0.4s;
    transform: translateZ(10px);
}
.tools-list.open-tools{
    max-height: 90vh;
}

.name{
    display: flex;
    align-items: center;
    
}
.name img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.name h3{
    font-weight: 500;
}
.user-info hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.email p{
    font-size: 14px;
}
.user-info.open-user{
    max-height: 90vh;
}


/* -----main page css------- */
i {
    font-size: 16px;
}



/* Styling the main container */
.main {
    height: 90vh;
    display: flex;
}

/* Styling the side navigation */
.idnavi {
    width: 250px;
    background: #f0f4f9;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.idnavi .topbaraction {
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
    right: 10%;
}

.idnavi .topbaraction i {
    font-size: 18px;
}

.idnavi .sidbut {
    margin-top: 50px;
    margin-bottom: 30px;
}

.idnavi .chathistory {
    max-height: 400px;
    overflow-y: scroll;
}

.idnavi .chathistory::-webkit-scrollbar {
    display: none;
}

.idnavi .chathistory h5 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 15px 5px;
}

.idnavi .chathistory ul {
    list-style-type: none;
}

.idnavi .chathistory li {
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.idnavi.expandClose {
    width: 65px;
}

.idnavi .chathistory i {
    padding-right: 10px;
    padding-left: 10px;
}

.idnavi .chathistory li:hover {
    background: gray;
    color: white;
    transition: 0.4s;
}

.idnavi .sidbut button {
    height: 40px;
    width: 140px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: #dde3ea;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s;
    cursor: pointer;
}

.idnavi.expandClose .sidbut button,
.idnavi.expandClose .actionlist button {
    width: 45px;
}

.idnavi.expandClose .collapse,
.idnavi.expandClose .chathistory,
.chatwi.chatcon {
    display: none;
}

.idnavi .actionlist {
    position: fixed;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.idnavi .actionlist button {
    margin: 1px;
    padding: 10px;
    text-align: left;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 230px;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
}

.idnavi .actionlist button:hover {
    background: gray;
    color: white;
    transition: 0.4s;
}

.idnavi .actionlist button .collapse {
    padding: 0 10px;
}

/* Styling the chat window */
.chatwi {
    width: 100%;
    max-width: 100vh; /* Ensuring maximum width is 100vh */
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.chatwi .stcon {
    
    margin-left: 200px;
    min-width: 830px;
}

/* .chatwi .stcon h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: normal;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin-top: 18px;
} */

/* .chatwi .stcon h1 .hello {
    background: linear-gradient(lime, pink, green, lime);
    background-size: 400% 100%;
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
} */

/* .chatwi .stcon h1 .brand {
    color: #c4c7c5;
    font-size: 2.5rem;
} */

/* Styling the list under the heading */
.chatwi .stcon ul {
    display: inline-flex;
    width: 830px;
    margin-top: 50px;
}

.chatwi .stcon ul li {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #f0f4f9;
    list-style: none;
}

.chatwi .stcon ul li:hover {
    background-color: gray;
    color: #fff;
    transition: 0.4s;
}

.chatwi .stcon .ps {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
}

.chatwi .stcon .ps p {
    margin: 1rem;
}

.chatwi .stcon .ps p:hover {
    transition: 0.5s;
}

.chatwi .stcon .ps .icon {
    text-align: end;
}

.chatwi .stcon .ps i {
    background: #fff;
    padding: 10px;
    color: black;
    border-radius: 50px;
}

.chatwi .chatcon {
    overflow: scroll;
    height: 650px;
    max-width: 100vh; /* Ensuring maximum width is 100vh */
}

.chatwi .chatcon::-webkit-scrollbar {
    display: none;
}

/* Styling the input area */
.inarea{
    margin-left: 200px; /* Ensuring the input area is aligned with the chat window */
}
.inarea,
.ppy {
    position: fixed;
    bottom: 30px; /* Set maximum height to 2 /* Allow height to adjust automatically */
    display: flex;
    background: #f0f4f9;
    border-radius: 50px;
    padding: 4px 8px;
    overflow-x: auto; 
}

.ppy {
    bottom: 5px;
    font-size: 12px;
    background: transparent;
}

/* Styling the input field */
.inarea input {
    width: 800px;
    height: 50px;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    background: transparent;
}

#file{
    justify-self: start;
    align-items: start;
}

.inarea .igr {
    position: relative;
    right: 5px;
}

.inarea .igr i {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.inarea .file{
    display: flex;
    align-items: center;
    justify-self: start;
}
#file {
    margin-right: 8px; /* Adjust the spacing as needed */
}

#inputArea {
    flex-grow: 1;
}


.inarea .igr i:nth-child(3) {
    display: none;
}

.chatcon {
    width: 100%;
}

/* Styling the result section */
.chatwi .chatcon .resultTitle {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.chatwi .chatcon .resultTitle img {
    margin-right: 10px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.chatwi .chatcon .resultData img {
    margin-right: 10px;
    animation: spin 4s linear infinite;
    height: 32px;
    width: 32px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.animatiedBG {
    border-radius: 4px;
    border: none;
    animation: loder 3s infinite linear;
    background: linear-gradient(right, blue, #fff, blue, #fff);
    height: 15px;
}

.animatiedBG:nth-child(3) {
    width: 70%;
}

@keyframes loder {
    0% {
        background-position: -800px 0;
    }
    to {
        background-position: 800px 0;
    }
}

.resultres img {
    width: 32px;
    height: 32px;
}

.chatwi .chatcon .resultData,
.chatwi .chatcon .resultres {
    display: flex;
    align-items: start;
    margin-bottom: 2rem;
}

.chatwi .chatcon .resultData p,
.chatwi .chatcon .resultres p {
    font-size: 17px;
    font-weight: 300;
    line-height: 2.2;
    margin-bottom: 2rem;
}

.chatwi .chatcon .resultres img {
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

